* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { background-color: black; }

.bow { background-image: url(images/lttp/bow.png); }
.sword { background-image: url(images/lttp/sword1.png); }
.sword--active-2 { background-image: url(images/lttp/sword2.png); }
.hookshot { background-image: url(images/lttp/hookshot.png); }
.mushroom { background-image: url(images/lttp/mushroom.png); }
.powder { background-image: url(images/lttp/powder.png); }
.book { background-image: url(images/lttp/book.png); }
.firerod { background-image: url(images/lttp/firerod.png); }
.icerod { background-image: url(images/lttp/icerod.png); }
.bombos { background-image: url(images/lttp/bombos.png); }
.ether { background-image: url(images/lttp/ether.png); }
.quake { background-image: url(images/lttp/quake.png); }
.lamp { background-image: url(images/lttp/lamp.png); }
.hammer { background-image: url(images/lttp/hammer.png); }
.shovel { background-image: url(images/lttp/shovel.png); }
.flute { background-image: url(images/lttp/flute.png); }
.byrna { background-image: url(images/lttp/byrna.png); }
.cape { background-image: url(images/lttp/cape.png); }
.mirror { background-image: url(images/lttp/mirror.png); }
.agahnim { background-image: url(images/lttp/agahnim0.png); }
.agahnim--active { background-image: url(images/lttp/agahnim1.png); }
.halfmagic { background-image: url(images/lttp/halfmagic.png); }
.bottle { background-image: url(images/lttp/bottle.png); }
.somaria { background-image: url(images/lttp/somaria.png); }
.boots { background-image: url(images/lttp/boots.png); }
.glove { background-image: url(images/lttp/glove1.png); }
.glove--active-2 { background-image: url(images/lttp/glove2.png); }
.flippers { background-image: url(images/lttp/flippers.png); }
.moonpearl { background-image: url(images/lttp/moonpearl.png); }

.armos { background-image: url(images/lttp_dungeon/armos.png); }
.lanmolas { background-image: url(images/lttp_dungeon/lanmolas.png); }
.moldorm { background-image: url(images/lttp_dungeon/moldorm.png); }
.helmasaur { background-image: url(images/lttp_dungeon/helmasaur.png); }
.arrghus { background-image: url(images/lttp_dungeon/arrghus.png); }
.mothula { background-image: url(images/lttp_dungeon/mothula.png); }
.blind { background-image: url(images/lttp_dungeon/blind.png); }
.kholdstare { background-image: url(images/lttp_dungeon/kholdstare.png); }
.vitreous { background-image: url(images/lttp_dungeon/vitreous.png); }
.trinexx { background-image: url(images/lttp_dungeon/trinexx.png); }
.pendant-green { background-image: url(images/lttp_dungeon/pendant_green.png); }
.pendant { background-image: url(images/lttp_dungeon/pendant_blue_red.png); }
.crystal-red { background-image: url(images/lttp_dungeon/crystal_red.png); }
.crystal { background-image: url(images/lttp_dungeon/crystal_blue.png); }

.charge { background-image: url(images/sm/charge.png); }
.ice { background-image: url(images/sm/ice.png); }
.wave { background-image: url(images/sm/wave.png); }
.plasma { background-image: url(images/sm/plasma.png); }
.tank { background-image: url(images/sm/tank.png); }
.missile { background-image: url(images/sm/missile.png); }
.super { background-image: url(images/sm/super.png); }
.powerbomb { background-image: url(images/sm/powerbomb.png); }
.varia { background-image: url(images/sm/varia.png); }
.gravity { background-image: url(images/sm/gravity.png); }
.morph { background-image: url(images/sm/morph.png); }
.bomb { background-image: url(images/sm/bomb.png); }
.spring { background-image: url(images/sm/spring.png); }
.screw { background-image: url(images/sm/screw.png); }
.hijump { background-image: url(images/sm/hijump.png); }
.space { background-image: url(images/sm/space.png); }
.speed { background-image: url(images/sm/speed.png); }
.grapple { background-image: url(images/sm/grapple.png); }

.golden-four { background-image: url(images/sm_g4/golden_four.png); }
.golden-four---ridley { background-image: url(images/sm_g4/ridley.png); }
.golden-four---kraid { background-image: url(images/sm_g4/kraid.png); }
.golden-four---phantoon { background-image: url(images/sm_g4/phantoon.png); }
.golden-four---draygon { background-image: url(images/sm_g4/draygon.png); }
